* {
    color: white;
}

body {
    font-family: Consolas, 'Courier New', monospace;
    padding-top: 10px;
    margin: 0 auto;
    width: 1100px;
    background: #2B2B2B;
    height: 100%;
    padding: 10px 0px 30px 0px;
}

.wrapper {
    padding: 0px 20px 0px 20px;
}

h1, h2, h3 {
    font-size: 20px;
}

.blue {
    color: #5ACBFF;
}

.green {
    color: #C3E88D;
}

.violet {
    color: #C792EA;
}

.orange {
    color: #FECA5D;
}

.darkBlue {
    color: #3478F1;
}

.red {
    color: #F0716A;
}

.white {
    color: white;
}


